* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #1b4332;
    align-items: center;
    padding: 0;
}

header h1 {
    color: #fff;
    margin-left: 20px;
    margin-bottom: 15px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
}

.barra {
    margin-top: 6rem;
    position: fixed;
    width: 17%;
    height: 100rem;
    background: linear-gradient(180deg,
            #2d6a4f,
            #1b4332);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid #40916c;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
}

.barra img {
    width: 45%;
    margin-top: 20px;
    border-radius: 50%;
    padding: 8px;
    background-color: #1b4332;
    box-shadow: 0 0 15px rgba(183, 228, 199, 0.3);

}

.barra h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}

.barra a {
    padding: 13px 70px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 6px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.barra a:hover {
    transition: 0.2s;
    transform: scale(1.05);
    background: #40916c;
}

.barra li {
    list-style: none;
}

.dados {
    margin-top: 10%;
}

.dados h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filtros {
    width: 100%;
    display: flex;
}

.btn-filtro {
    width: 13%;
    padding: 6px 15px;
    text-decoration: none;
    border: 3px solid #ff3939;
    border-radius: 10px;
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10px;
}

#identificar {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 5%;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-alerta {
    border: 3px solid #ff0000;
    padding: 20px 50px;
    border-radius: 18px;
    margin-right: 15px;
}

.card-azul {
    border: 3px solid #ffbf00;
    padding: 20px 50px;
    border-radius: 18px;

}

.card-verde {
    border: 3px solid #1f8902;
    padding: 20px 40px;
    border-radius: 18px;
    margin-left: 15px;

}